<footer class="footer-container">
    <div class="footer-logo">
        <fa-icon [icon]="icons.solid.faUserAstronaut" size="5x"></fa-icon>
    </div>
    <div class="footer-links">
        <div>
            <h2>My GitHub Page</h2>
        </div>
        <div>
            <a mat-button aria-label="LinkdeIn" href="https://www.linkedin.com/in/santosflavio/">
                <fa-icon [icon]="icons.brands.faLinkedin" size="2x"></fa-icon>
            </a>
            <a mat-button aria-label="Profile in GitHub" href="https://github.com/flaviogds">
                <fa-icon [icon]="icons.brands.faGithub" size="2x"></fa-icon>
            </a>
            <a mat-button aria-label="Project in GitHub" href="https://github.com/flaviogds/angular-mypage">
                <fa-icon [icon]="icons.solid.faCodeBranch" size="2x"></fa-icon>
            </a>
        </div>
    </div>
    <div class="footer-copyright">
        <div>
            <p>Application developed by Flávio Santos.</p>
            <p>
                This app compose a series of varios application in Angular
                 consult the project repositoy in github for more information
            </p>
        </div>
    </div>
</footer>